@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
  #alarm {
    display: none;
  }
  #teamworks {
    display: none;
  }
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "pic2" "title";
  }
  /* .paragraph{
    margin-right: 45px;
  }

  .grid-container2
{
  margin-left: 60px;
  font-size: 12px;
  grid-column-gap: 15px;
  border-width: 4px;
} */
}
