
html {
  font-size: 20px;
  font-family:  'Arial',cursive;
}

body{

  margin: 0 4%;
}
main {
  background-color: #E9967A;
  padding: 2%;
  width: 90%;
  margin: 0 auto;
}
h1 {
  text-align: center;
  background-color: black;
  font-size: 60px;
  color: black;
  background-image: linear-gradient(90deg, white, salmon);
}

p{
  color: black;
  max-width: 600px;

}

a.cim{
  color: black;
  text-decoration: none;
}
a.cim:hover {
  background-color: red;
}


li{
  color: blue;
  font-size: 20px;
  font-weight: 900;
}

.myself {
  color: red;
  font-size: 30px;
}

.paragraph{
  font-size: 23px;
}



#procon {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

#procon th {
  font-weight: 900;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "pic1 pic2 pic3"
    "title title title";
  grid-column-gap: 20px;
  max-width: 900px !important;
  min-width: 300px !important;
}

header img {
  height: 200px;
  margin: 0 auto;
}
#jordan {
  grid-area: pic2;
}
#alarm {
  grid-area: pic3;
}

#teamworks {
  grid-area: pic1;
}

#title {
  grid-area: title;
}

#bottom-pic img{
  width: 100%;
}

#bottom-pic {
  margin-top: 100px;
}
