
html {
  font-size: 20px;
  font-family:  'Mansalva',cursive;
}

body{
  background-color: #E9967A
}
h1 {
  text-align: center;
  color: orange;
  background-color: black;
  font-size: 60px;
color: blue;
}

p{
  color: black;
  max-width: 600px;

}

a.cim{
  color: black;
  text-decoration: none;
}
a.cim:hover {
  background-color: red;
}


li{
  color: blue;
  font-size: 20px;
}

.myself {
  color: red;
  font-size: 30px;
}

.paragraph{
  font-size: 23px;
}

#hardworking{
  color: blue;
  font-size: 21px;
}
#leader{
  color: red;
  font-size: 21;
}
#accountable{
  color: black;
  font-size: 21px;
}
#timemanagment{
  color: green;
  font-size: 21px;
}
#adaptable{
  color: purple;
  font-size: 21px;
}
